name: Deploy to GCE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GCE VM
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.GCE_HOST }}
          username: ${{ secrets.GCE_USERNAME }}
          key: ${{ secrets.GCE_SSH_KEY }}
          script_stop: true
          script: |
            cd ~/tavern-discord-bot
            git pull origin main
            npm install
            pm2 restart discord-bot
